@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/poppins'; /* Import Poppins from the package */



body {
  @apply bg-[#000000];
  @apply font-sans;
}

.text-outline {
  -webkit-text-stroke: 2px white; /* Set the outline width and color */
  color: transparent; /* Make the text color transparent so the outline is visible */
}
.swiper {
  overflow:visible !important
}

svg.star-svg {
  display: inline;
}


html {
  font-family: "Poppins", sans-serif;
}

/* For WebKit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #220e37; /* Scrollbar track (background) */
}

::-webkit-scrollbar-thumb {
  background-color: #404041; /* Scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #404041 #220e37; /* Handle and background */
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Rounded corners for WebKit browsers */
}

.Example input,
.Example button {
  font: inherit;
}

.Example header {
  background-color: #323639;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

.Example header h1 {
  font-size: inherit;
  margin: 0;
}

.Example__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

.Example__container__load {
  margin-top: 1em;
  color: white;
}

.Example__container__document {
  width: 100%;
  max-width: calc(100% - 2em);
  margin: 1em 0;
}

.Example__container__document .react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Example__container__document .react-pdf__Page {
  margin: 1em 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.Example__container__document .react-pdf__message {
  padding: 20px;
  color: white;
}

.custom-pagination {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.custom-pagination .swiper-pagination-bullet {
  background: #fff; /* White dots */
  opacity: 0.7;
}
.custom-pagination .swiper-pagination-bullet-active {
  background: #f59e0b; /* Highlighted active dot */
}
